<h1 class="title">Edit Todo</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="field">
      <div class="control">
        <input
          type="text"
          class="input"
          [ngModel]="todo.text"
          #todoTextField="ngModel"
          name="text"
          required
          placeholder="พิมพ์ข้อความ..."
        />
      </div>

      <div *ngIf="todoTextField.invalid">
        <p class="help is-danger" *ngIf="todoTextField.errors?.['required']">
          กรุณากรอกข้อความของคุณ
        </p>
      </div>
    </div>

    <br />

    <div class="field is-grouped is-groued-right">
      <div class="control">
        <button type="button" class="button is-light" (click)="close()">
          ยกเลิก
        </button>
      </div>

      <div class="control">
        <button type="submit" class="button alt-gradient-button">
          <i class="material-symbols-outlined">save</i>บันทึก
        </button>
      </div>
    </div>
  </form>
</div>
