/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bulma/css/bulma.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'tippy.js/dist/tippy.css';

html, body { height: 100%; }
body { margin: 0;}

.alt-gradient-button{
    background: linear-gradient(to right,#366f00,#669e37);
    border: none;
    color: white;
    font-weight: 600;
}

.alt-gradient-button i.material-symbols-outlined{
    margin-right: 5px;
    margin-left: -5px;
}
